<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{{_appName}}} | settings</title>
	<link rel="stylesheet" type="text/css" href="css/github.css">
	<link rel="stylesheet" type="text/css" href="css/commons.css">
	<link rel="stylesheet" type="text/css" href="css/settings.css">
</head>
<body>
	<h2>Sanitization settings:</h2>
  	<form action="./settings" method="POST" accept-charset="UTF-8" novalidate>
  		<div class="label">HTML escaping:</div>
  		<select name="escapeHTML" required>
  			{{#escapeHTML}}
  				<option value="true" selected>Enabled</option>
  				<option value="false">Disabled</option>
  			{{/escapeHTML}}
  			{{^escapeHTML}}
  				<option value="true">Enabled</option>
  				<option value="false" selected>Disabled</option>
			{{/escapeHTML}}
  		</select></br>
		<input type="submit" name="action" value="Apply" />
		<input type="submit" name="action" value="Restore" />
	</form>
	
	{{#isDefined1}}{{neco}}<p>isDefined1: Yes!</p>{{/isDefined1}}
	{{#isDefined2}}{{neco}}<p>isDefined2: Yes!</p>{{/isDefined2}}
	{{#isDefined3}}{{neco}}<p>isDefined3: Yes!</p>{{/isDefined3}}
</body>
</html>