h2:not(:first-of-type)
{
	margin-top: 50px;
}

.vulnerability
{
	margin-bottom: 25px;
}

#search-field
{
	width: 500px;
}

#search-field-escaped
{
	width: 100%;
	overflow: scroll;
}

#search-back
{
	width: 100%;
}

#search-results
{
	margin-bottom: 25px;
}

.search-result
{
	margin-bottom: 25px;
}

.search-result > .url
{
	color: #006621;
	font-size: smaller;
	line-height: normal;
}

.search-result > .exerpt
{
	color: #545454;
	font-size: smaller;
	line-height: normal;
}
